<a href="https://colab.research.google.com/github/RafsanJany-44/ARC/blob/master/Machine_Learning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
dataset= pd.read_csv("https://raw.githubusercontent.com/FahmidaNourin/Machine_Learning/main/weather.csv")

In [8]:
dataset.head(10)

  location        date  precipitation  temp_max  temp_min  wind  weather
0  Seattle  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  Seattle  2012-01-02           10.9      10.6       2.8   4.5     rain
2  Seattle  2012-01-03            0.8      11.7       7.2   2.3     rain
3  Seattle  2012-01-04           20.3      12.2       5.6   4.7     rain
4  Seattle  2012-01-05            1.3       8.9       2.8   6.1     rain
5  Seattle  2012-01-06            2.5       4.4       2.2   2.2     rain
6  Seattle  2012-01-07            0.0       7.2       2.8   2.3     rain
7  Seattle  2012-01-08            0.0      10.0       2.8   2.0      sun
8  Seattle  2012-01-09            4.3       9.4       5.0   3.4     rain
9  Seattle  2012-01-10            1.0       6.1       0.6   3.4     rain

In [10]:
dataset.tail(10)

      location        date  precipitation  temp_max  temp_min  wind weather
2912  New York  2015-12-22            4.8      15.6      11.1   3.8    rain
2913  New York  2015-12-23           29.5      17.2       8.9   4.5    rain
2914  New York  2015-12-24            0.5      20.6      13.9   4.9    rain
2915  New York  2015-12-25            2.5      17.8      11.1   0.9    rain
2916  New York  2015-12-26            0.3      15.6       9.4   4.8    rain
2917  New York  2015-12-27            2.0      17.2       8.9   5.5    rain
2918  New York  2015-12-28            1.3       8.9       1.7   6.3    snow
2919  New York  2015-12-29           16.8       9.4       1.1   5.3    rain
2920  New York  2015-12-30            9.4      10.6       5.0   3.0    rain
2921  New York  2015-12-31            1.5      11.1       6.1   5.5    rain

In [12]:
dataset.shape

(2922, 7)

In [14]:
dataset[["location"]].value_counts()

location
New York    1461
Seattle     1461
dtype: int64

In [16]:
dataset[['weather']].value_counts()

weather
sun        1466
rain       1087
fog         139
snow        119
drizzle     111
dtype: int64

In [18]:
new_dataset= dataset.iloc[:,2:]

In [19]:
new_dataset.head(10)

   precipitation  temp_max  temp_min  wind  weather
0            0.0      12.8       5.0   4.7  drizzle
1           10.9      10.6       2.8   4.5     rain
2            0.8      11.7       7.2   2.3     rain
3           20.3      12.2       5.6   4.7     rain
4            1.3       8.9       2.8   6.1     rain
5            2.5       4.4       2.2   2.2     rain
6            0.0       7.2       2.8   2.3     rain
7            0.0      10.0       2.8   2.0      sun
8            4.3       9.4       5.0   3.4     rain
9            1.0       6.1       0.6   3.4     rain